:root {
    // Colors used on the newsletter 
    --window-background: hsl(235, 18%, 26%);
    --newsletter-background: hsl(0, 0%, 100%);
    --primary-color: hsl(4, 100%, 67%);
    --font-color: hsl(234, 29%, 20%);
    --placeholder-color: hsl(231, 7%, 60%);
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--window-background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: var(--font-color);
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    align-content: center;
    justify-items: center;
}

h2 {
    font-size: .75rem;
    margin-bottom: 1em;
}

button {
    width: 100%;
    background-color: var(--font-color);
    color: var(--newsletter-background);
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.25em;
    padding: 1.25em;
}

.sign-up-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
}

.sign-up-form-left-container {
    display: grid;
    background-color: var(--newsletter-background);
    border-radius: 2.25em 0  0 2.25em;
    padding: 1.25em 2.8em;
    align-content: center;

    .sign-up-form-heading {
        width: max-content;
        font-size: 3.4rem;
        font-weight: 700;
        margin: 0;
        padding-right: .5em;
    }

    .sign-up-form-message {
        margin: 1.25em 0 1.875em 0;
    }

    .sign-up-form-list {
        padding: 0;
        margin-bottom: 2.5em;
        align-items: flex-start;
    }

    .sign-up-form-list-icon {
        margin-right: .625em;
        padding-top: .2em;
        align-self: start;
    }

    .sign-up-form-list-item {
        display: inline-flex;
        list-style: none;
        margin-bottom: .625em;
    }

    .sign-up-form-list-item-text {
        line-height: 1.5;
    }

    input {
        width: 100%;
        height: 3.125em;
        border-radius: .5rem;
        border: solid 1px var(--placeholder-color);
        font-size: 1rem;
    }

    input#email {
        padding-left: 1.25em;
    }

    .sign-up-form-button:hover {
        background-image: linear-gradient(to right, #FF527B , #FF6A3A);
        cursor: pointer;
    }
}

.sign-up-form-right-container {
    display: grid;
    align-items: center;
    background-color: var(--newsletter-background);
    border-radius: 0 2.25em 2.25em 0;
    

    .sign-up-form-illustration {
        padding: 1.25em;
    }

    #sign-up-form-illustration-mobile {
        display: none;
    }
}

.sign-up-confirmation-container {
    display: none;
}

@media (max-width: 375px){
    body {
        display: flex;
    }
       
    button {
        padding: 1.25em 0;
        margin-bottom: 1.25em;
    }

    .sign-up-form-container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        

        .sign-up-form-left-container {
            border-radius: 0;
            padding: 2em 1.5em 1em;

            .sign-up-form-heading {
                font-size: 2.5rem;
            }

            .sign-up-form-list-icon {
                margin-right: 1em;
            }

            .sign-up-form-list {
                margin: .625em 1.875em 1.875em 0;
            }
        }

        .sign-up-form-right-container {
            .sign-up-form-illustration {
                padding: 0;
            }

            #sign-up-form-illustration-mobile {
                background-color: var(--newsletter-background);
                display: flex;
            }

            #sign-up-form-illustration-desktop {
                display: none;
            }
        }
    }
}